* {
    background-color: lightgrey;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}

h1, h2 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    font-family: Arial, sans-serif;
}